

body {
  align-items: center;
}

td {
width: 100px;
height: 100px;
}

.one {
  border-right: 1px solid black;
   border-bottom: 1px solid black;
}
.three {
  border-left: 1px solid black;
   border-bottom: 1px solid black;
}
.five {
  border: 1px solid black;
}
.seven {
  border-top: 1px solid black;
   border-right: 1px solid black;
}
.nine {
   border-top: 1px solid black;
   border-left: 1px solid black;
}